---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Blog | Collective Social";
const description = "Updates, announcements, and articles from the Collective Social team.";
const ogimage ={
    url: "/images/screenshots.webp",
    alt: "Collective Social blog — updates and announcements from the team."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
